---
# start minishift
- name: "Initialization of minishift cluster with profile {{ profile }}"
  shell: "{{ minishift_bin }} start --profile {{ profile }} --cpus {{ cpus }} --disk-size {{ disk_size }} --memory {{ memory }} --openshift-version {{ oc_version }} --iso-url file:///{{ minishift_dest_dir }}/minishift.iso"

- block:
  - name: "Check if <cpu mode=host-passthrough/> is already set"
    find:
      paths: "/etc/libvirt/qemu"
      patterns: "{{ profile }}.xml"
      contains: '\s*<cpu.*\smode=[\"\'']host-passthrough[\"\''].*/>'
    register: minishift_vm_config_files
    become: yes

  - set_fact:
      cpu_mode_not_configured: ((minishift_vm_config_files | default([])) | length == 0)

  - name: "Wait for the cluster to come up completely"
    pause:
      minutes: 3
    when: (cpu_mode_not_configured|bool) or (start_minishift|bool == false)

  - name: "Stop the minishift profile {{ profile }}"
    shell: "{{ minishift_bin }} stop --profile {{ profile }}"
    when: (cpu_mode_not_configured|bool) or (start_minishift|bool == false)

  - name: "Update the minishift VM config"
    lineinfile:
      path: "/etc/libvirt/qemu/{{ profile }}.xml"
      insertafter: '\s+</features>'
      line: "  <cpu mode='host-passthrough'/>"
    become: yes
    when: cpu_mode_not_configured|bool

  - name: "Start minishift profile {{ profile }} again if configured"
    shell: "{{ minishift_bin }} start --profile {{ profile }} --cpus {{ cpus }} --disk-size {{ disk_size }} --memory {{ memory }} --openshift-version {{ oc_version }} --iso-url file:///{{ minishift_dest_dir }}/minishift.iso"
    when:
      - cpu_mode_not_configured|bool
      - start_minishift|bool == true

  when: host_os == "linux"
