---
# Install minishift

- name: Query for minishift compressed binary
  shell: curl -s https://github.com/minishift/minishift/releases/{{ minishift_version }} | grep 'minishift-.*-{{ host_os }}.*' | head -1 | sed 's/.*<a href="\(.*\)" .*/https:\/\/github.com\1/' | cut -d'"' -f1
  register: get_minishift_bin

- name: "Pull down and extract minishift binary to {{ minishift_dest_dir }}"
  unarchive:
    src: "{{ get_minishift_bin.stdout }}"
    dest: "{{ minishift_dest_dir }}"
    remote_src: yes

- name: Set minishift_src_dir fact
  set_fact:
    minishift_src_dir: "{{ get_minishift_bin.stdout | basename | regex_search(regexp,'\\1') | join(' ') }}"
  vars:
    regexp: '(minishift.*amd64).tgz'

- name: "Create a new {{ minishift_dest_dir }} if it doesn't exist"
  file:
    path: "{{ minishift_dest_dir }}"
    state: directory

- name: "Copy minishift version files to {{ minishift_dest_dir }}/minishift/"
  shell: cp {{ minishift_dest_dir }}/{{ minishift_src_dir }}/* {{ minishift_dest_dir }}/

- name: "Delete {{ ansible_env.HOME }}/{{ minishift_src_dir }}"
  file:
    path: "{{ minishift_dest_dir }}//{{ minishift_src_dir }}"
    state: absent
