---
- hosts: '{{ hosts | default("all") }}'
  become: '{{ become | default("no") }}'
  become_user: '{{ become_user | default("root") }}'
  remote_user: '{{ user | default("root") }}'
  gather_facts: '{{ gather_facts | default("yes") }}'
  roles:
    - { role: cleanup, when: run_cleanup|bool == true }
    - role: create
    - { role: prereqs, when: "run_prereqs|bool == true and setup_minishift|bool == true" }
    - { role: minishift, when: setup_minishift|bool == true }
    - { role: os_temps, when: setup_containers|bool == true }
    - { role: pipeline, when: setup_pipelines|bool == true }
    - { role: playbook_hooks, when: setup_playbook_hooks|bool == true }
